
div.chosen{
    outline: 1px solid  #e0e0e5 ;
    width: 92%;
    height: 874px;
    display: flex;
    border-radius: 16px;
    box-sizing: border-box;
    box-shadow: 2px;
    margin: 0 auto;
    flex-flow: wrap;
    object-fit: contain;
    justify-content: center;
    align-items: center;
}
div.chosen>div.title{
    font-family: Yekan;
    text-align: center;
    width: inherit;
    height: 70px;
    font-size: 21px;
   box-sizing: border-box;
   margin-top: 40px;
   font-weight: bold
}
div.chosen>div.title>svg{
    vertical-align: middle;
    margin: 5px;
}
div.chosen>div.table{
   
    display: flex;
    border-radius: 16px;
    box-sizing: border-box;
    flex-flow: wrap;
    object-fit: contain;
    justify-content:center;
    align-items: center;
    

}
div.chosen>div.table>div.box{
    width: 213px;
    height: 250px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid transparent;
    cursor:pointer;
   
    
}



div.chosen>div.table>div.box img{
    width: 150px;
    height: 150px;
    display: inline-block;
    object-fit: contain ;
    margin-right: 30px ;
    margin-top: 10px;

}


    div.table>div.box>div.price{
        width: 100%;
       margin-top: 20px;
    }
    div.table>div.box>div.price>div.left , div.table>div.box>div.price>div.right{
        display: inline-block;
    }
    div.table>div.box> div.price>div.left{
        font-size: 14px;
        font-family: Yekan;
        text-align: left;
        font-weight: bold;
        width: 50%;
    }
    div.table>div.box> div.price>div.right{
        font-size: 14px;
        font-family: Yekan;
        text-align: right;
        font-weight: bold;
        width: 40%;
    }
    div.table>div.box>div.price>div.right>span{
        padding: 5px;
        box-sizing: border-box;
        border-radius: 30px ;
        background-color: crimson;
        position: relative;
        color: white;
        margin-right: 5px;
    }
    div.table>div.box>div.deletePan{
       font-family: Yekan;
       font-size: 12px;
        width: 100%;
        margin-top: 10px;
        text-align: left;
        padding-left: 30px;
        box-sizing: border-box;
        font-size: 12px;
        text-decoration: line-through;
        color: grey;
    }

    div.chosen>div.table>div.box:nth-of-type(1) {
        border-left-color: #f1f2f4 !important;
        border-bottom-color: #f1f2f4 !important;
    }
    div.chosen>div.table>div.box:nth-of-type(2) {
        border-left-color: #f1f2f4 !important;
        border-bottom-color: #f1f2f4 !important;
    }
    div.chosen>div.table>div.box:nth-of-type(3) {
        border-left-color: #f1f2f4 !important;
        border-bottom-color: #f1f2f4 !important;
    }
    div.chosen>div.table>div.box:nth-of-type(4) {
        border-left-color: #f1f2f4 !important;
        border-bottom-color: #f1f2f4 !important;
    }
    div.chosen>div.table>div.box:nth-of-type(5) {
        border-left-color: #f1f2f4 !important;
        border-bottom-color: #f1f2f4 !important;
    }
    div.chosen>div.table>div.box:nth-of-type(6) {
        border-bottom-color: #f1f2f4 !important;
    }
    div.chosen>div.table>div.box:nth-of-type(7) {
        border-left-color: #f1f2f4 !important;
        border-bottom-color: #f1f2f4 !important;
    }
    div.chosen>div.table>div.box:nth-of-type(8) {
        border-left-color: #f1f2f4 !important;
        border-bottom-color: #f1f2f4 !important;
    }
    div.chosen>div.table>div.box:nth-of-type(9) {
        border-left-color: #f1f2f4 !important;
        border-bottom-color: #f1f2f4 !important;
    }
    div.chosen>div.table>div.box:nth-of-type(10) {
        border-left-color: #f1f2f4 !important;
        border-bottom-color: #f1f2f4 !important;
    }
    div.chosen>div.table> div.box:nth-of-type(11) {
        border-left-color: #f1f2f4 !important;
        border-bottom-color: #f1f2f4 !important;
    }
    div.chosen>div.table>div.box:nth-of-type(12) {
        border-bottom-color: #f1f2f4 !important;
    }
    div.chosen>div.table>div.box:nth-of-type(13) {
        border-left-color: #f1f2f4 !important;
    }
    div.chosen>div.table>div.box:nth-of-type(14) {
        border-left-color: #f1f2f4 !important;
    }
    div.chosen>div.table>div.box:nth-of-type(15) {
        border-left-color: #f1f2f4 !important;
    }
    div.chosen>div.table>div.box:nth-of-type(16) {
        border-left-color: #f1f2f4 !important;
    }
    div.chosen>div.table>div.box:nth-of-type(17) {
        border-left-color: #f1f2f4 !important;
    }
    



    