div.city>label{
    display: inline-block;
    width: 174px;
    height: 40px;
    font-family: Yekan;
    font-size: 12px;
    text-align: center;
    color: #3f4064;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    position: relative;
   
}
div.city>div.citybox>div.top>div.label>div{
    width: 70%;
    height: 2px;
    background-color: whitesmoke;
    position: absolute;
   
}


#show,#close1{
    display: none;
}
div.citybox{
    width: 460px;
    height: 450px;
    background-color: #ffffff;
    margin: 30px auto;
    position: absolute;
    left: calc(50% - 500px/2);
    top: calc(50% - 300px/2);
    display: none;
    border-radius: 10px;

}
div.citybox>div.top{
    width: 460px;
    height: 60px;
   display: inline-block;
   box-sizing: border-box;
   border-bottom: 1px solid #e0e0e5;
  
}

div.citybox>div.top>div.choosecity{
    width: 239px;
    height: 59px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 15px 0px;
   text-align: right;
    font-family: Yekan;
    font-weight: bold;
    margin-left: 160px;
}

div.citybox>div.bottom{
    width: 460px;
    height: 390px;
    display: flex;
    overflow: auto;
   flex-flow: wrap;
   justify-content: space-around;
   align-items: center;
}
div.citybox>div.bottom>h5{
    width: 420px;
    height: 45px;
    padding: 15px 0;
    color: #18bfd3;
    font-weight: bold;
    text-align: right;
    font-family: Yekan;
    font-size: 15px;
    line-height: 40px;
    cursor: pointer;
}
div.citybox>div.bottom>h5>svg{
    vertical-align: middle;
}
div.citybox>div.bottom>a{
    width: 420px;
    height: 40px;
    line-height: 45px;
    padding: 15px 0;
    border-bottom: 1px solid #f1f2f4;
    text-decoration: none;
    font-family: Yekan;
    color: #3f4064;
    font-size: 15px;
    font-weight: bold;
    text-align: right;
    
}
div.citybox>div.bottom>a>svg{
    vertical-align: middle;
    float:left;
   margin-top: 12px;
}
#show:checked ~ div.citybox{
    display: block;
}
div.citybox>div.top>label[for=close1]{
    font-size: 30px;
    color: black;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    cursor: pointer;
    margin: 10px;
    
}
#close:checked ~ div.citybox{
    display: none !important;
}

