div.classification{
    width: 100%;
    text-align: center;
    border-color: lightgray;
    
    
}
div.classification>h3{
    font-family: Yekan;
    cursor: text;
    display: inline-block;
}

div.classification>div.pictures>div{
    display: inline-block;
    height: inherit;
    margin: 0 10px;
    padding: 30px;
}
div.classification>div.pictures>div img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    object-fit: contain;
    cursor:pointer;
}
div.classification>div.pictures>div.last> img{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
div.classification>div.pictures>div h4{
font-family: Yekan;
font-size: 13px;
font-weight: bold
}