div.club{
    display: flex;
    background-color:#007295;
    width: 93%;
    height: 90px;
    box-sizing: border-box;
    outline: 1px solid #f1f2f4;
    border-radius: 15px;
    margin: 0 48px;
    padding: 0 16px;
    align-items: center;
    justify-content: space-between;
}
div.club>div.clubs{
    width: 814px;
    height: 64px;
    display: flex;
    justify-content: left;
}
div.club>div.logo{
    width: 150px;
    height: 60px;
    margin-top: 30px;
    margin-right: 10px;
    cursor:pointer;
  
}

div.club>div.clubs>div.club1{
    width: 255px;
    height: 60px;
    background-color: white;
    margin: 4px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    outline: 2px solid white;
    justify-content: left;
    outline: 2px solid white;
    align-items: center;
    cursor:pointer;
}
div.club>div.clubs>div.club2{
    width: 255px;
    height: 60px;
    background-color: white;
    margin: 4px;
    display: flex;
    outline: 2px solid white;
    align-items: center;
    justify-content: left;
    cursor:pointer;
}
div.club>div.clubs>div.club3{
    width: 255px;
    height: 60px;
    background-color: white;
    margin: 4px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    outline: 2px solid white;
    outline: 2px solid white;
    align-items: center;
    justify-content: left;
    cursor:pointer;
}
div.club img{
    object-fit: cover;
    width: 168px;
    height: 60px;
    display: inline-block;
    
    
       
}

div.club svg{
    display: inline-block;
   vertical-align: middle;
}
div.club span{
    font-family: Yekan;
    font-size: 12px;
    display: inline-block;
}
div.club>div>div.club3>div.c2{
    margin-left: 4px;
    margin-top: 4px;

}
div.club>div.logo>img{
    width: 119px ;
    height: 33px;
    display: flex;
    position: relative;
    
  

}