div.digibrands{
    width: 92%;
    padding: 20px;
    height: 270px;
    box-sizing: border-box;
    box-shadow: 2px;
    outline: 1px solid #e0e0e5;
    margin: 0 auto;
    border-radius: 20px;
    
    
}

div.digibrands>div.title{
    width: 100%;
    height: 47px;
    box-sizing: border-box;
    font-family: Yekan;
    font-size: 20px;
    text-align: center;
    background-color: white;
    padding: 5px 5px 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
div.digibrands>div.title>h3{
    font-size: 22px;
}

div.digibrands>div.brand{
    width: 97%;
    height: 180px;
    border-radius: 20px;
    box-sizing: border-box;
    object-fit: contain;
}
div.digibrands>div.brand>div.swiper{
  
    border-radius: 20px;
}

div.digibrands>div.brand div.imagebrand{
    text-align: center;
}
div.digibrands>div.brand div.imagebrand>img{
    width: 80%;
    object-fit: contain;
    display: inline-block;
    cursor:pointer;
    
}
.changeBrand{
    flex-flow: column wrap;
    border: 1px solid transparent;
    border-left-color:#f1f2f4 !important;
    
}




