div.all2{
    width: 93%;
    height: 417px;
    box-sizing: border-box;
    outline: 1px solid #e0e0e5;
    box-shadow: 2px;
    border-radius: 20px;
    display: grid;
    margin: 0 48px;
    padding: 0 16px;
    align-items: center;
    justify-content: center;
   

}

.grid-maincontainer-1{
   
    grid-column-start:1 ;
    grid-column-end:2  ;
    width: 25%;
    height: inherit; 
    justify-content: center;
    align-items: center;
    
}

.grid-maincontainer-2{
   
    grid-column-start:2 ;
    grid-column-end:3  ;
    width: 25%;
    height: inherit;  
    border-right: solid  #f1f2f4;
}



.grid-maincontainer-3{
   
    grid-column-start:3 ;
    grid-column-end:4  ;
    width: 25%;
    height: inherit; 
    border-right: solid  #f1f2f4; 
}


 .grid-maincontainer-4{
   
    grid-column-start:4 ;
    grid-column-end:5  ;
    width: 25%;
    height: inherit; 
    border-right: solid  #f1f2f4; 
}

div.all2 div.title{
    width: 284px;
    height: 40px;
    margin: 20px;
    line-height: 30px;

}


div.title>h3{
    font-family: Yekan;
    font-size: 16px;
   
    
    

}
div.title>h6{
    font-family: Yekan;
    font-size: 11px;
    color: grey;
    
   
}



div.all2>div>div.grid-container{

   display: grid;
   column-gap:20px;
   row-gap: 20px;
   direction: ltr;
   width: 284px;
   height: 293px;
   box-sizing: border-box;
   align-items: center;
   justify-content: center;
  
   

  
   
   
}

div.all2>div>div.grid-container>div.grid-item-1{
    grid-row-start: 1;
    grid-row-end:2 ;
    grid-column-start:2 ;
    grid-column-end:3  ;
    width: 99.38px;
    height: 99.38px;
    
    

}
div.all2>div>div.grid-container>div.grid-item-2{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start:1 ;
    grid-column-end: 2 ;
    width: 99.38px;
    height: 99.38px;
    

}
div.all2>div>div.grid-container>div.grid-item-3{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3 ;
    width: 99.38px;
    height: 99.38px;

}
div.all2>div>div.grid-container>div.grid-item-4{
    grid-row-start:2 ;
    grid-row-end: 3;
    grid-column-start:1 ;
    grid-column-end: 2 ;
    width: 99.38px;
    height: 99.38px;
  

}

div.grid-container img{
    display: flex;
    width: 99.38px;
    height: 99.38px;
    cursor:pointer;
    
    

    
}


div.all2>div>div.view{
    font-family: Yekan;
    color: #18bfd3;
    width: 300px;
    height: auto;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    cursor:pointer;
}